<div class = "row"></div>

	<h2 class = "four columns offset-by-six"> Neel Patel </h2>

<div class = "row"></div>

<!-- <hr class = "four columns offset-by-six"> -->

<div class = "row"></div>

	<a href="/contact" class = "four columns offset-by-six">Contact me</a>

<div class = "row"></div>
	
	<img class = "five columns" src = "images/myself.jpg">
<div class ="five columns">
	<h3 class = "four columns">Stuff I can do!</h3>



		<ul class = "four column">
			<li class = "two columns"> Ruby </li>
			<li class = "two columns"> HTML </li>
			<li class = "two columns"> CSS </li>
			<li class = "two columns">  Sinatra </li>
		</ul>

</div>

